/**
global
  */
document,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote{margin:0;padding:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ul,ol,dl,li,dt,dd{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;line-height:1;}
a {text-decoration:none;outline: none;}
a:hover { text-decoration:none;}
html {_filter:expression(document.execCommand("BackgroundImageCache", false, true));_background-image: url(about:blank); _background-attachment: fixed;/* prevent screen flash in IE6 */  }
.clear{clear:both;height: 0;overflow: hidden;font-size: 0;content: "";  }
.fixed{position: fixed;}
.rel{position: relative;}
.abs{position: absolute;}
.fl{float:left;}
.fr{float:right;}
.wid980{width:980px;}
.marLRAuto{margin-left:auto;margin-right: auto;}
.disNone{display: none;}
.disBlock{display:block;}
.mt65{margin-top:65px;}

/*index-page*/
html, body { height: 100%;}
body{overflow: hidden;cursor: url('images/cursor.cur'), url('images/cursor.cur'), auto;}
.home-container .query_wrap a i,.select_s .menu-btn i{background:url(./images/icon.png) no-repeat;}

.wrap { width: 100%; height: 100%; }
.left_bar {position:fixed;width: 223px; height: 100%;background:#3f67bf;}
.left_bar a.active{background:#3598db;}
.left_bar .nav{padding-left:13px;}
.right_content { float: left; width: 100%; height: 100%;}
#main { margin-left: 223px;height: 100%;}
.logo{padding-top:5px;padding-left:15px;}
.fix_logo{position:fixed;top:5px;left:15px;display:none;}
.fix_select{position:fixed;top:136px;left:40px;display:none;}
/*nav-list*/
.nav_list>li{margin-top:2px;}
.nav_list li a{color:#FFF;cursor:pointer;border-radius:5px;width:158px;height:39px;display:block;line-height:39px;text-align:center;transition:.6s all ease;position:relative;}
.nav_list li a i{position:absolute;width:16px;height:16px;display:block;background:url(./images/icon.png);left:11px;top:11px;}
.nav_list li a i.icon_cur{width:14px;height:10px;top:15px;left:155px;}
.nav_list li a i.icon_up{background-position: 0px -37px;}
.nav_list li a i.icon_down{background-position: -24px -37px;}
.nav_list li a i.analysis{background-position: -71px 0px;}
.nav_list li a i.compose{background-position: -98px 0px;}
.nav_list li a i.count{background-position: -122px 0px;}
.nav_list li a i.land{background-position: -148px 0px;}
.nav_list li a i.search{background-position: -173px 0px;}
.nav_list li a i.right_cur{width:8px;height:13px;left:142px;top:13px;background-position: -48px -37px;}
.nav_list li .menu_wrap{margin-top:17px;display:none;}
.nav_list li .submenu{overflow:hidden;background:#34495e;width:167px;margin-left:9px;padding-left:11px;border-radius: 5px;}
.nav_list li .dropdown-toggle{display:block;background:#3598db;width:182px;height:39px;line-height:39px;border:none;text-align:center;margin-left:9px;transition:none;}
.nav_list li.active .dropdown-toggle{border-left:9px solid #ea533e;margin-left:0;}
.nav_list li .up_arrow{width: 0px;height: 0px;border-left: 8px solid transparent;border-right: 8px solid transparent;
    border-bottom: 17px solid #34495e;float:right;margin-right:5px;right: 28px;top: -16px;}
.submenu{padding-top:2px;padding-bottom:4px;}
.submenu li{margin-top:2px;}
.submenu li.active a,.submenu li a:hover{background:#3598db;}

.side_btn{position:relative;height:25px;margin-top:40px;margin-bottom:25px;}
.side_btn a{display:inline-block;width:26px;height:26px;background:url(./images/icon.png);}
.side_btn a.side_show{left:0;position:absolute;background-position: -35px 0px;display:none;}
.side_btn a.side_hide{right:7px;position:absolute;background-position:0 0;}

/*.right_nav*/
.right_nav{width:100%;height:50px;}
.right_nav_wrap{right:7px;width:450px;height:38px;border-radius:8px;padding-left:24px;position:fixed;top:1px;background:#342b6c;z-index:2;
    border-top:2px solid #827ea2;
    box-shadow: 0px 2px 4px #211d49;
    -webkit-box-shadow: 0px 2px 4px #211d49;
    -moz-box-shadow: 0px 2px 4px #211d49;
    -o-box-shadow: 0px 2px 4px #211d49;}
.right_nav .nav_bar{position:absolute;top:3px;left:24px;width:90px;height:38px;background:#3498db;border-radius:3px;}
.right_nav .right_gap{background:url(../login/images/icon.png);cursor:pointer;}
.right_nav .right_gap{position:absolute;width:24px;height:21px;right:6%;top:23%;background-position:-59px 0;}
.right_nav ul{overflow:hidden;position:absolute;}
.right_nav li{height:38px;float:left;margin-right:35px;border-radius:4px;}
.right_nav li.active a{background:#3498db;}
.right_nav li a{padding-left:17px;padding-right:17px;height:100%;display:inline-block;line-height:38px;
    font-size:14px;color:#fff;border-radius:3px;background:transparent;transition:.5s all ease;}
.right_nav li a:hover{background:#3498db;}
.p_info{position:fixed;width:285px;padding-left:15px;height:37px;line-height:37px;top:55px;right:22px;background:#34495e;color:#fff;border-radius:5px;display:none;z-index:2;}
.p_info a{color:#fff;font-size:14px;font-weight:bold;}
.p_info a.down{margin-right:24px;margin-left:5px;}
.p_info a.out{font-size:15px;}
.p_info i.down{background:url(./images/icon.png);display:inline-block;width:8px;height:8px;background-position:-66px -37px;margin-left:21px;}

/*home*/
html{background:#342b6c;}
.home-foot{height:30px;width: 100%;}
.home-container{width:1024px;margin: 0 auto;}
.home-container,.home-container a{color:#fff;}
.home-container h4{font-size:22px;margin-top:30px;}
.home-container .date_query{padding-left:190px;margin-bottom:4px;}
.home-container .active .date_query{padding-left:105px;}
.home-container .date_query a{display:inline-block;width:85px;height:43px;line-height:43px;font-size:19px;text-align:center;
font-family:"Microsoft YaHei ", Helvetica, Arial, sans-serif;font-weight:bold;}
.home-container .date_query a.active{border-bottom:3px solid #12aaeb;color:#12aaeb;}
.home-container .query_b{margin-left:16px;clear:both;height:140px;}
.home-container .query_wrap,.home-container .query_wrap a{border:1px solid #8e8f93;}
.home-container .query_wrap{padding:20px 20px 0px 20px;margin-bottom:-2px;float:right;width:800px;height:114px\9;}
.home-container .query_wrap ul{display:none;}
.home-container .active .query_wrap{float:none;margin:0 auto -2px;}
.home-container .query_wrap li{margin-bottom:22px;}
.home-container .query_wrap a{width:134px;height:35px;margin-right:30px;text-align:center;display:inline-block;line-height:35px;position:relative;transition:.5s all ease;}
.home-container .query_wrap a.c-span-last{margin-right:0;}
.home-container .query_wrap a.no-drop{  color: gray;  cursor: no-drop;}
.home-container .query_wrap a.no-drop:hover{box-shadow: 0 0 0 #20c993;border-color:#8e8f93;}
.home-container .query_wrap a.active,.home-container .query_wrap a:hover{border-color:#20c993;box-shadow: 0 0 6px #20c993;}
.home-container .query_wrap a i{width: 14px;  height: 10px;  top: 15px;  left: 107px;position:absolute;}
.home-container .query_wrap a i.icon_up {background-position: 0px -37px;}
.home-container .query_wrap a i.icon_down{background-position: -24px -37px;}
.query_channel {text-align:center;}
.query_channel a{display:inline-block;width:30px;}
.query_channel a.active{border-bottom:1px solid blue;}
/*echars*/
#main_wrap{margin:0 auto;background:none;height:550px;width:800px;}
#main_wrap > div{margin-left:-1500px;margin-left:0px\9;}
.double_wrap{text-align: center;}
#left_wrap{width: 500px;height:400px;display: inline-block;}
#right_wrap{width: 500px;height:400px;display: inline-block;}
.top_bar{  margin-left: 1500;  width: 100%;margin-left:0px\9;}
/*»’¿˙*/
#datepicker{opacity: 0;width: 0px;position:absolute;}
#ui-datepicker-div{background:#3f67c0;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border:none;
    background:#3f67c0;
    color:#fff;
    text-align:center;
    height: 19px;
    line-height: 19px;
}
.ui-datepicker td{
    border: 1px solid #33367d;
}
.ui-datepicker-calendar thead tr{background:#35b5eb;color:#Fff;}
.ui-datepicker-calendar thead tr th{border: 1px solid #33367d;width:20px;}
.ui-widget-content,.ui-widget-header{border:none;background:none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{background:none;border-color:#3f67c0;}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon{background-image: url("../../dep/jquery-ui-1.11.4/images/ui-icons_ffffff_256x240.png");}
div.ui-datepicker, .ui-datepicker td{
    font-size:12px;
    padding: 0;
    margin: 0;
}
.ui-widget-content a.ui-state-active{background:#39479f;height: 26px;
    line-height: 24px;padding: 0;}

/*dropdown*/
.dropdown {padding-top:5px;padding-bottom:5px;  position: absolute;width: 135px;background-color: #34495e;border-radius:5px;  border: 1px solid #8e8f93;-webkit-box-shadow: 1px 2px 1px rgba(0,0,0,0.072);
    -moz-box-shadow: 1px 2px 1px rgba(0,0,0,0.072);
    -o-box-shadow: 1px 2px 1px rgba(0,0,0,0.072);}
.dropdown ul{padding-left:5px;}
.dropdown li{line-height:23px;height:23px;margin-bottom:2px;}
.dropdown li a{color:#fff;display:inline-block;width:116px;padding-left:5px;padding-right:5px;transition: .6s all ease;border-radius:5px;font-size:13px;}
.dropdown li a:hover,.dropdown li.active a{font-weight:bold;background:#3598db;}

/*select*/
.select_wrap{width:136px;display:none;}
.select_s{height:37px;}
.select_s .menu-btn{height:35px;line-height:35px;cursor:pointer;color:#fff;font-size:16px;border:1px solid #20c993;text-align:center;position:relative;box-shadow: 0 0 6px #20c993;}
.select_s .menu-btn i{width: 14px;  height: 10px;  top: 15px;  left: 107px;position: absolute;}
.select_s .menu-btn i.icon_up {background-position: 0px -37px;}
.select_s .menu-btn i.icon_down{background-position: -24px -37px;}
.select_s .select_w{position:absolute;display:none;background: #34495e;width:164px;z-index: 2;}
.select_s ul{color:#fff;padding-top:5px;padding-bottom:5px;}
.select_s ul li{height:20px;line-height:20px;margin-bottom:5px;}
.select_s ul a{color:#fff;display:inline-block;transition: .6s all ease;margin-left:5px;margin-right:5px;text-indent:5px;border-radius:5px;width:154px;}
.select_s ul a:hover{font-weight:bold;background:#3598db;}
.select_bar{margin-top:-70px;display:none;margin-bottom:20px;}
.select_bar .mt65,.fix_select .mt65{margin-top:0;}
.select_bar .select_wrap{margin:0 auto;}
.select_bar .select_s,.fix_select .select_s{margin-bottom:12px;}

/**data_model**/
.data_model .pager_content{text-align:center;margin-top:15px;}
.data_model .goPageBox{color:#fff;}
.data_model .data_table_wrap{box-shadow: 0 0 9px #20c993;border-radius:5px;overflow:hidden;  margin-top: 30px;}
.data_model .data_model_head{height:40px;line-height: 40px;border: 2px solid #282256;text-indent:15px;overflow:hidden;}
.data_model .data_model_head span{font-weight: bold;font-size: 26px;float:left;}
.data_model table td,.data_model table th{font-size: 13px;  color: #fff;  height: 34px;  line-height: 34px;  padding: 0 0 0 22px;border-right: 2px solid #282256;border-bottom: 2px solid #282256;  word-break: break-all;text-align:left;}
.data_model #detail_datepicker{  opacity: 0; width: 0px;  position: absolute;}
.table_model{border-left:2px solid #282256;}
.table_model i{font-style:normal;cursor: pointer;}